<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo d-flex justify-content-center">
      <a routerLink="/products">
        <img src="assets/images/logo.png" alt="shopLogo" class="img-responsive" width="50px">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
          <li *ngFor="let productCategory of productCategories">
            <a routerLink="/category/{{ productCategory.id }}" routerLinkActive="active-link">{{productCategory.categoryName}}</a>
          </li>
        </ul>
      </nav>
    </div>
</aside>
