<p>sales-person-list works!</p>

<table border="1">
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>somevaule</th>
        <th>Met quota?</th>
    </thead>
    <tbody>
        <tr *ngFor="let salesPerson of salesPersonList">
            <td>{{salesPerson.firstName}}</td>
            <td>{{salesPerson.lastName}}</td>
            <td>{{salesPerson.email}}</td>
            <td>{{salesPerson.salesVolume | currency:'USD'}}</td>
            <td *ngIf="salesPerson.salesVolume > 5; else elseBlock">Yes</td>
            <ng-template #elseBlock>
                <td>
                    No
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>